
        <div class="alert alert-success" role="alert">
            <img src="assets/logo.png" height="150" width="250">
        </div>
            
        <div class="row">
            <div class="col-9">
                &nbsp;&nbsp; Nombre del producto: 
                <input type="text" id="buscar_textfield" [(ngModel)]="producto.nombre">
                &nbsp; <button class="btn-success" (click)="showOneProduct()">buscar</button>
                <br><hr>
                &nbsp; <button class="btn-success" (click)="ShowProduct_ordenadoAlfabet()">Ordenar alfabeticamente</button>
                &nbsp; <button class="btn-success" (click)="ShowProduct_ordenadoPorPrecios()">Ordenar por precios</button>
                &nbsp; <button class="btn-success" (click)="ShowProduct_ordenadoAlfabet()">Ordenar por categoria</button>
                <br><hr>
            </div>
            <div class="col-3">
                <div class="alert alert-success" role="alert">
                    
                    <button class="btn-success" (click)="irACarrito()">
                        <i class="fas fa-shopping-cart"></i>
                        &nbsp;&nbsp;
                        ver carrito de compras
                    </button>
                </div>
            </div>
        </div>
        
        
        <table class="table">
            <thead class="thead-dark">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Descripcion</th>
                  <th scope="col">Agregar</th>
              </thead>
            <tbody>
                <tr *ngFor="let item of productList">
                    <td><img src="{{item.imagen}}" width="200" height="150"></td>
                    <td>
                        {{item.nombre}} <br>
                        Descripcion:  {{item.descripcion}}  <br>
                        Precio:  {{item.precio}}
                    </td>
                    <td>
                        <button class="btn-success" (click)="AgregarACarrito(item)"><i class="fas fa-cart-plus"></i> &nbsp;&nbsp; Agregar</button>
                    </td>
                </tr>
            </tbody>
