<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="alert alert-success" role="alert">
            <img src="assets/logo.png" height="150" width="250">
        </div>

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Subtotal</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaProducto">
                    <td>{{item.Producto}}</td>
                    <td>
                        <div class="form-group col-md-2">
                            <input id="{{item.Cantidad}}" type="text" [(ngModel)]="AuxiliarDeActualizacion.Cantidad" class="form-control"  placeholder="{{item.Cantidad}}">
                        </div>
                    </td>
                    <td>Q {{item.Precio}}</td>
                    <td>Q {{item.Cantidad*item.Precio}}</td>
                </tr>
            </tbody>

            

            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="ActualizarLaTroca()" type="button" class="btn btn-warning">Actualizar</button>  
            &nbsp;
            <button type="button" class="btn btn-success">Comprar</button>  

        </table>

    </body>
</html>
