

        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Subtotal</th>
                <th scope="col">Eliminar</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listaProducto">
                    <td>{{item.Producto}}</td>
                    <td>
                        <div class="form-group col-md-3">
                            <input id="{{item.Cantidad}}" [(ngModel)]="item.Cantidad" type="number" class="form-control"  placeholder="{{item.Cantidad}}" min="1">
                        </div>
                    </td>
                    <td>Q {{item.Precio}}</td>
                    <td>Q {{item.Cantidad*item.Precio}}</td>
                    <td><button class="btn-danger" (click)="EliminarProducto(item)"><i class="far fa-trash-alt"></i></button></td>
                </tr>
            </tbody>

            

            <br>
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button (click)="ActualizarLaTroca()" type="button" class="btn btn-warning">Guardar cambios <i class="fas fa-save"></i></button>  
            &nbsp;
            <button (click)="Compra()" type="button" class="btn btn-success">Realizar compra <i class="far fa-credit-card"></i></button>  

        </table>
