<!-- Create Card -->
<div class="col-md-4">
    <div class="card">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        <h1>Crear Producto</h1>
      </div>
      <img class="card-img-top" src="">
      <div class="card-body">
        <label for="nameProduct">Nombre Producto</label>
        <input type="text" [(ngModel)]="newProduct.nombre" class="form-control" id="nameProduct">
        <label for="description">Descripción</label>
        <input type="text" [(ngModel)]="newProduct.descripcion" class="form-control" id="description">
        <label for="image">Imagen</label>
        <input type="url" [(ngModel)]="newProduct.imagen" class="form-control" id="image">
        <label for="price">Precio</label>
        <input type="number" [(ngModel)]="newProduct.precio" class="form-control" id="price">
        <p></p>
        <a class="btn btn-info btn-block" (click)="create()">
            Crear
        </a>
      </div>
    </div>
</div>

<!-- Edit Card -->
<div class="col-md-4">
    <div class="card">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        <h1>Editar Producto</h1>
      </div>
      <img class="card-img-top" src="">
      <div class="card-body">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="choose" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Elegir Producto
        </button>
        <div class="dropdown-menu" aria-labelledby="choose">
          <a class="dropdown-item" (click)="seleccionar(item)" *ngFor="let item of listadoProductos">{{item.nombre}}</a>
        </div>
        <div>
            <label for="newnameProduct">Nombre Producto</label>
        <input type="text" class="form-control" [(ngModel)]="selectProduct.nombre" id="newnameProduct">
        <label for="newDescription">Descripción</label>
        <input type="text" class="form-control" [(ngModel)]="selectProduct.descripcion" id="newdescription">
        <label for="newImage">Imagen</label>
        <input type="url" class="form-control" [(ngModel)]="selectProduct.imagen" id="newImage">
        <label for="newPrice">Precio</label>
        <input type="number" class="form-control" [(ngModel)]="selectProduct.precio" id="newPrice">
            <p></p>
            <a class="btn btn-info btn-block" (click)="update()">
                Confirmar
            </a>
        </div>
      </div>
    </div>
</div>

<!-- Detele Card -->
<div class="col-md-4">
    <div class="card">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        <h1>Eliminar Producto</h1>
      </div>
      <img class="card-img-top" src="">
      <div class="card-body">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="delete" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{selected == "" ? 'Elegir un producto:' : selected}}
        </button>
        <div class="dropdown-menu" aria-labelledby="delete">
          <a class="dropdown-item" (click)="selectDelete(item)" *ngFor="let item of listadoProductos">{{item.nombre}}</a>
          </div>
        <div>
            <br>
            <a class="btn btn-info btn-block btn-danger" (click)="delete()">
                Confirmar
            </a>
        </div>
      </div>
    </div>
</div>